@page
@model Pages.Friends.EditFriendModel
@{
    ViewData["Title"] = "Edit Friend";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<div class="container px-4 py-4" id="edit-friend">
    <form class="needs-validation" method="post">

        <h2 class="pb-2 border-bottom">
            Edit details of a friend
            <button class="btn btn-primary-outline" type="submit" asp-page-handler="Save">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#save" />
                </svg>
            </button>
            <button class="btn btn-primary-outline" type="submit" asp-page-handler="Undo" formnovalidate>
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#undo" />
                </svg>
            </button>
        </h2>
        @if (Model.ValidationResult.HasErrors)
        {
            <div class="row g-3">
                @foreach (var item in Model.ValidationResult.ErrorMsgs)
                {
                    <span class="alert alert-danger" role="alert">
                        @item
                    </span>
                }
            </div>
        }
        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
            <div class="col-md-7 col-lg-10">

                <div class="row g-3">
                    <input asp-for="FriendInput.FriendId" type="hidden" />
                    <input asp-for="FriendInput.StatusIM" type="hidden" />
                    <input asp-for="FriendInput.Address.AddressId" type="hidden" />
                    <input asp-for="FriendInput.Address.StatusIM" value="@Model.FriendInput.Address.StatusIM"
                        class="form-control" type="hidden" />

                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">First Name</label>
                        <input asp-for="FriendInput.FirstName" type="text" class="form-control" id="firstName">
                        <span asp-validation-for="FriendInput.FirstName" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input asp-for="FriendInput.LastName" type="text" class="form-control" id="lastName">
                        <span asp-validation-for="FriendInput.LastName" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" asp-for="FriendInput.Email">
                        <span asp-validation-for="FriendInput.Email" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="birthday" class="form-label">Birthday</label>
                        <input type="date" class="form-control" id="birthday" asp-for="FriendInput.Birthday">
                    </div>

                    <div class="col-sm-6">
                        <label for="streetAddress" class="form-label">Street Address</label>
                        <input type="text" class="form-control" id="streetAddress"
                            asp-for="FriendInput.Address.EditStreetAddress">
                        <span asp-validation-for="FriendInput.Address.EditStreetAddress" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        <input type="text" class="form-control" id="zipCode" asp-for="FriendInput.Address.EditZipCode">
                        <span asp-validation-for="FriendInput.Address.EditZipCode" class="invalid-feedback"></span>
                    </div>


                    <div class="col-sm-6">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" asp-for="FriendInput.Address.EditCity">
                        <span asp-validation-for="FriendInput.Address.EditCity" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select" asp-for="FriendInput.Address.EditCountry"
                            asp-items="Model.CountrySelection" id="country">
                            <option value="">-- Select Country --</option>
                        </select>
                        <span asp-validation-for="FriendInput.Address.EditCountry" class="invalid-feedback"></span>
                    </div>

                    <div class="row g-1">
                        <h3 class="pb-2">Pets</h3>
                        <input type="hidden" name="petId" data-seido-selected-item-id-target />

                        <div class="row mb-2 text-center">
                            <div class="col-md-10 themed-grid-head-col">
                                Pet Name
                            </div>
                            <div class="col-md-2 themed-grid-head-col">
                                <button class="btn btn-success btn-sm m-1" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseAddPet">
                                    New
                                </button>
                            </div>
                        </div>

                        <div class="collapse row mb-2 text-center" id="collapseAddPet">
                            <div class="form-floating col-md-5 themed-grid-col">
                                <input type="text" asp-for="FriendInput.NewPet.Name" class="form-control" id="PetName"
                                    value="" />
                                <span asp-validation-for="FriendInput.NewPet.Name" class="invalid-feedback"></span>
                                <label for="PetName">Pet name</label>
                            </div>

                            <div class="col-md-2 themed-grid-col">
                                <button type="submit" asp-page-handler="AddPet" class="btn btn-success btn-sm m-1">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                    @for (int k = 0; k < Model.FriendInput.Pets.Count; k++)
                    {
                        <div
                            class="row mb-2 text-center @(Model.FriendInput.Pets[k].StatusIM == AppRazor.Pages.Friends.EditFriendModel.StatusIM.Deleted ? "d-none" : null)">

                            <input asp-for="FriendInput.Pets[k].StatusIM" value="@Model.FriendInput.Pets[k].StatusIM"
                                class="form-control" type="hidden" />
                            <input asp-for="FriendInput.Pets[k].PetId" value="@Model.FriendInput.Pets[k].PetId"
                                class="form-control" type="hidden" />
                            <input asp-for="FriendInput.Pets[k].Name" value="@Model.FriendInput.Pets[k].Name"
                                class="form-control" type="hidden" />

                            <div class="col-md-10 themed-grid-col">@Model.FriendInput.Pets[k].Name</div>
                            <div class="col-md-2 themed-grid-col">
                                <button class="btn btn-secondary btn-sm m-1" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEditPet_@Model.FriendInput.Pets[k].PetId"
                                    data-seido-selected-item-id="@Model.FriendInput.Pets[k].PetId">
                                    Edit
                                </button>

                                <button type="button" class="btn btn-danger btn-sm m-1"
                                    data-seido-selected-item-id="@Model.FriendInput.Pets[k].PetId" data-bs-toggle="modal"
                                    data-bs-target="#dangerDelPModal_@Model.FriendInput.Pets[k].PetId"
                                    data-seido-modal-title="Delete Pet"
                                    data-seido-modal-body="@Model.FriendInput.Pets[k].Name is about to be deleted. Press Ok and then save-button to confirm."
                                    data-seido-modal-cancel="Cancel" data-seido-modal-Ok="Ok">
                                    Del
                                </button>

                                <div class="modal fade" id="dangerDelPModal_@Model.FriendInput.Pets[k].PetId" tabindex="-1" 
                                aria-labelledby="softModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-danger" id="softModalLabel">Confirm deletion
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Pet will be deleted.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" asp-page-handler="DeletePet"
                                                    data-seido-selected-item-id="@Model.FriendInput.Pets[k].PetId"
                                                    class="btn btn-primary btn-danger" data-bs-dismiss="modal">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="collapse row mb-2 text-center" id="collapseEditPet_@Model.FriendInput.Pets[k].PetId">

                            <div class="form-floating col-md-5 themed-grid-col">

                                <input asp-for="FriendInput.Pets[k].editName" class="form-control"  value="@Model.FriendInput.Pets[k].editName" />
                                <span asp-validation-for="FriendInput.Pets[k].editName" class="invalid-feedback"></span>
                                <label for="FriendInput.Pets[@k].editName">Pet name</label>

                            </div>

                            <div class="col-md-2 themed-grid-col">
                                <button type="submit" asp-page-handler="EditPet"
                                    asp-route-petId="@Model.FriendInput.Pets[k].PetId" class="btn btn-success btn-sm m-1">
                                    Ok
                                </button>
                            </div>
                        </div>
                    }
                </div>

                <div class="row g-1">
                    <h3 class="pb-2">Quotes</h3>
                    <input type="hidden" name="quoteId" data-seido-selected-item-id-target />
                    <div class="row mb-2 text-center">
                        <div class="col-md-8 themed-grid-head-col">
                            Text
                        </div>
                        <div class="col-md-2 themed-grid-head-col">
                            Author
                        </div>
                        <div class="col-md-2 themed-grid-head-col">
                            <button class="btn btn-success btn-sm m-1" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseAddQuote">
                                New
                            </button>
                        </div>
                    </div>

                    <div class="collapse row mb-2 text-center" id="collapseAddQuote">
                        <div class="form-floating col-md-8 themed-grid-col">
                            <input type="text" asp-for="FriendInput.NewQuote.QuoteText" class="form-control"
                                id="QuoteText" value="" />
                            <span asp-validation-for="FriendInput.NewQuote.QuoteText" class="invalid-feedback"></span>
                            <label for="QuoteText">Quote text</label>
                        </div>

                        <div class="form-floating col-md-2 themed-grid-col">
                            <input asp-for="FriendInput.NewQuote.Author" class="form-control" 
                                id="QuoteAuthor" value="" />
                            <span asp-validation-for="FriendInput.NewQuote.Author" class="invalid-feedback"></span>
                            <label for="QuoteAuthor">Author</label>
                        </div>

                        <div class="col-md-2 themed-grid-col">
                            <button type="submit" asp-page-handler="AddQuote" class="btn btn-success btn-sm m-1">
                                Save
                            </button>
                        </div>
                    </div>
                    @for (int k = 0; k < Model.FriendInput.Quotes.Count; k++)
                    {
                    <div
                        class="row mb-2 text-center @(Model.FriendInput.Quotes[k].StatusIM == AppRazor.Pages.Friends.EditFriendModel.StatusIM.Deleted ? "d-none" : null)">

                        <input asp-for="FriendInput.Quotes[k].StatusIM" value="@Model.FriendInput.Quotes[k].StatusIM"
                            class="form-control" type="hidden" />
                        <input asp-for="FriendInput.Quotes[k].QuoteId" value="@Model.FriendInput.Quotes[k].QuoteId"
                            class="form-control" type="hidden" />
                        <input asp-for="FriendInput.Quotes[k].QuoteText" value="@Model.FriendInput.Quotes[k].QuoteText"
                            class="form-control" type="hidden" />
                        <input asp-for="FriendInput.Quotes[k].Author" value="@Model.FriendInput.Quotes[k].Author"
                            class="form-control" type="hidden" />

                        <div class="col-md-8 themed-grid-col">@Model.FriendInput.Quotes[k].QuoteText</div>
                        
                        <div class="col-md-2 themed-grid-col">@Model.FriendInput.Quotes[k].Author</div>
                        <div class="col-md-2 themed-grid-col">
                            <button class="btn btn-secondary btn-sm m-1" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEditQuote_@Model.FriendInput.Quotes[k].QuoteId"
                                data-seido-selected-item-id="@Model.FriendInput.Quotes[k].QuoteId">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger btn-sm m-1"
                                data-seido-selected-item-id="@Model.FriendInput.Quotes[k].QuoteId" data-bs-toggle="modal"
                                data-bs-target="#dangerDelQModal_@Model.FriendInput.Quotes[k].QuoteId"
                                data-seido-modal-title="Delete Quote"
                                data-seido-modal-body="@Model.FriendInput.Quotes[k].QuoteText is about to be deleted. Press Ok and then save-button to confirm."
                                data-seido-modal-cancel="Cancel" data-seido-modal-Ok="Ok">
                                Del
                            </button>
                            <div class="modal fade" id="dangerDelQModal_@Model.FriendInput.Quotes[k].QuoteId" tabindex="-1"
                                aria-labelledby="softModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger" id="softModalLabel">Confirm deletion
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Quote will be deleted.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" asp-page-handler="DeleteQuote"
                                                data-seido-selected-item-id="@Model.FriendInput.Quotes[k].QuoteId"
                                                class="btn btn-primary btn-danger" data-bs-dismiss="modal">Ok</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse row mb-2 text-center" id="collapseEditQuote_@Model.FriendInput.Quotes[k].QuoteId">
                        <div class="col-md-8 themed-grid-col">
                            <input asp-for="FriendInput.Quotes[k].editQuoteText" class="form-control"
                                value="@Model.FriendInput.Quotes[k].editQuoteText" />
                            <span asp-validation-for="FriendInput.Quotes[k].editQuoteText" class="invalid-feedback"></span>
                        </div>
                        <div class="col-md-2 themed-grid-col">
                            <input asp-for="FriendInput.Quotes[k].editAuthor" class="form-control"
                                value="@Model.FriendInput.Quotes[k].editAuthor" />
                            <span asp-validation-for="FriendInput.Quotes[k].editAuthor" class="invalid-feedback"></span>
                        </div>
                        <div class="col-md-2 themed-grid-col">
                            <button type="submit" asp-page-handler="EditQuote"
                                asp-route-quoteId="@Model.FriendInput.Quotes[k].QuoteId" class="btn btn-success btn-sm m-1">
                                Ok
                            </button>
                        </div>
                    </div>
                    }
                </div>
            </div>

        </div>

</form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');

        const friendFields = [
            document.getElementById('firstName'),
            document.getElementById('lastName'),
            document.getElementById('email'),
            document.getElementById('birthday')
        ];

        const addressFields = [
            document.getElementById('streetAddress'),
            document.getElementById('zipCode'),
            document.getElementById('city'),
            document.getElementById('country')
        ];

        const friendStatusField = document.querySelector('input[name="FriendInput.StatusIM"]');
        const addressStatusField = document.querySelector('input[name="FriendInput.Address.StatusIM"]');
        const addressIdField = document.querySelector('input[name="FriendInput.Address.AddressId"]');
        
        // Har användaren en befintlig adress?
        const hasExistingAddress = addressIdField && addressIdField.value && addressIdField.value !== '00000000-0000-0000-0000-000000000000';

        const normalizeAddressValue = (field) => {
            if (!field) return '';
            const raw = (field.value ?? '').toString().trim();

            // ZipCode: tom sträng = tom sträng (så ny/ingen adress inte blir "dirty")
            if (field.id === 'zipCode') {
                return raw;
            }

            return raw;
        };

        // Snapshot av initiala adressvärden för att kunna avgöra om adressen ändrats
        const initialAddressValues = new Map();
        addressFields.forEach(f => {
            if (f) initialAddressValues.set(f.id, normalizeAddressValue(f));
        });

        const isAddressDirty = () => {
            return addressFields.some(f => {
                if (!f) return false;
                return normalizeAddressValue(f) !== (initialAddressValues.get(f.id) ?? '');
            });
        };

        // Gör jQuery unobtrusive-validering Bootstrap-kompatibel (visar invalid-feedback)
        if (window.jQuery && window.jQuery.validator) {
            window.jQuery.validator.setDefaults({
                highlight: function (element) { element.classList.add('is-invalid'); },
                unhighlight: function (element) { element.classList.remove('is-invalid'); }
            });
        }

        const clearFieldValidation = (field) => {
            if (!field) return;

            field.classList.remove('is-invalid');
            field.classList.remove('input-validation-error');

            const name = field.getAttribute('name');
            if (!name) return;
            const msg = document.querySelector(`span[data-valmsg-for="${CSS.escape(name)}"]`);
            if (msg) msg.textContent = '';
        };

        const reparseUnobtrusive = () => {
            if (!form) return;
            if (!window.jQuery || !window.jQuery.validator || !window.jQuery.validator.unobtrusive) return;

            const $form = window.jQuery(form);
            $form.removeData('validator');
            $form.removeData('unobtrusiveValidation');
            window.jQuery.validator.unobtrusive.parse($form);
        };

        const setAddressValidationEnabled = (enabled) => {
            // Styr om unobtrusive ska plocka upp reglerna för dessa fält.
            // Viktigt: vi reparsar form:en efter toggle.
            addressFields.forEach(f => {
                if (!f) return;
                f.setAttribute('data-val', enabled ? 'true' : 'false');
                if (!enabled) clearFieldValidation(f);
            });
            reparseUnobtrusive();
        };

        const syncAddressStatus = () => {
            const dirty = isAddressDirty();

            if (!addressStatusField) return;

            if (!dirty) {
                addressStatusField.value = '1'; // StatusIM.Unchanged
                return;
            }

            // Om adress finns: Modified, annars Inserted
            addressStatusField.value = hasExistingAddress ? '3' : '2';
        };

        // Init
        syncAddressStatus();

        // Init: validera INTE adressfält på andra actions (AddPet/EditPet/etc)
        setAddressValidationEnabled(false);

        // Event listeners på friendfält och adressfält
        friendFields.forEach(field => {
            if (field) {
                field.addEventListener('change', function () {
                    if (friendStatusField) {
                        friendStatusField.value = '3'; 
                    }
                });
            }
        });

        addressFields.forEach(field => {
            if (field) {
                field.addEventListener('input', function () {
                    syncAddressStatus();
                });
            }
        });

        // Intercepta submit:
        // - På Save: validera adress endast om användaren ändrat adressen.
        // - På övriga handlers: validera inte adress alls (så t.ex. AddPet funkar).
        if (form) {
            form.addEventListener('submit', function (e) {
                const submitter = e.submitter;
                const formAction = (submitter && submitter.getAttribute('formaction')) ? submitter.getAttribute('formaction') : '';
                const isSaveHandler = /[?&]handler=Save\b/i.test(formAction);

                syncAddressStatus();

                if (!isSaveHandler) {
                    setAddressValidationEnabled(false);
                    return;
                }

                if (!isAddressDirty()) {
                    setAddressValidationEnabled(false);
                    return;
                }

                setAddressValidationEnabled(true);

                // Låt unobtrusive validera och fylla feltexter från DataAnnotations
                if (window.jQuery && window.jQuery(form).length && window.jQuery(form).data('validator')) {
                    const ok = window.jQuery(form).valid();
                    if (!ok) {
                        e.preventDefault();
                        return false;
                    }
                }
            });
        }
    });
</script>