@model AppMvc.Models.FriendViewModel
@{
    ViewData["Title"] = "View Friend";
}

<div class="container px-4 py-4" id="view-friend">
    <h2 class="pb-2 border-bottom">
    View details of a friend 
        <a href="~/Friends/EditFriend?id=@Model.Friend.FriendId">
            <svg class="bi text-body-secondary flex-shrink-0 me-3, ms-3" width="1.75em" height="1.75em"><use xlink:href="#edit" /></svg>
        </a>
    </h2>
    <form class="needs-validation" novalidate>
        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
            <div class="col-md-7 col-lg-10">

                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="groupName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="groupName" value="@Model.Friend.FirstName" readonly>
                    </div>

                    <div class="col-sm-6">
                        <label for="genre" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="genre" value="@Model.Friend.LastName" readonly>
                    </div>

                    <div class="col-sm-6">
                        <label for="groupName" class="form-label">Email</label>
                        <input type="text" class="form-control" id="groupName" value="@Model.Friend.Email" readonly>
                    </div>

                    <div class="col-sm-6">
                        <label for="genre" class="form-label">Birthday</label>
                        <input type="text" class="form-control" id="genre" value="@(Model.Friend.Birthday?.ToString("yyyy-MM-dd") ?? "Unknown")" readonly>
                    </div>
                         <div class="col-sm-6">
                        <label for="groupName" class="form-label">Street Address</label>
                        <input type="text" class="form-control" id="groupName" value="@(Model.Friend.Address?.StreetAddress ?? "No Address")" readonly>
                    </div>

                    <div class="col-sm-6">
                        <label for="genre" class="form-label">Zip Code</label>
                        <input type="text" class="form-control" id="genre" value="@(Model.Friend.Address?.ZipCode ?? 0)" readonly>
                    </div>

                    <div class="col-sm-6">
                        <label for="genre" class="form-label">City</label>
                        <input type="text" class="form-control" id="genre" value="@(Model.Friend.Address?.City ?? "")" readonly>
                    </div>
                    <div class="col-sm-6">
                        <label for="genre" class="form-label">Country</label>
                        <input type="text" class="form-control" id="genre" value="@(Model.Friend.Address?.Country ?? "")" readonly>
                </div>
                <div class="row g-1">
                    <h3 class="pb-2">Pets</h3>

                    <div class="row mb-2 text-center">
                        <div class="col-md-12 themed-grid-head-col">PetName</div>
                    </div>
                    @foreach (var item in Model.Pets)
                    {
                        <div class="row mb-2 text-center">
                            <div class="col-md-12 themed-grid-col">@item.Name</div>
                        </div>
                    }
                </div>

                <div class="row g-1">
                    <h3 class="pb-2">Quotes</h3>

                    <div class="row mb-2 text-center">
                        <div class="col-md-10 themed-grid-head-col">Text</div>
                        <div class="col-md-2 themed-grid-head-col">Author</div>
                    </div>
                    @foreach (var item in Model.Quotes)
                    {
                        <div class="row mb-2 text-center">
                            <div class="col-md-10 themed-grid-col">@item.QuoteText</div>
                            <div class="col-md-2 themed-grid-col">@item.Author</div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </form>
</div>